nav {
  transition: background-color .4s ease;
  padding: 23px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.38);
  position: fixed;
  z-index: 9000;
  background-color: #fff;
  width: 100%;
  height: 80px;
  top: 0;
  
  h1 {
    display: inline-block;
    font-size: 20px;
    margin: 4px 0 0 20px;

    a {
      font-family: $nav-h1-font;
    }
  }
  
  ul {
    float: right;
    list-style: none;
    margin: 8px 20px 0 0;
  }

  a {
    text-decoration: none;
    color: #000;
    padding-bottom: 27px;
  }

  li {
    cursor: pointer;
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
    padding-bottom: 30px;

    a:hover {
      border-bottom: solid $primary-color 5px;
    }
  }

  .active {
    border-bottom: solid $primary-color 5px;
  }
}

.clear-nav {
  transition: background-color .4s ease;
  background-color: transparent;
  box-shadow: none;

  h1,
  a {
    color: #fff;
  }

  li {
    a:hover {
      color: $primary-color;
      border: 0;
    }
  }
}